doctype html
html(ng-app='photos')
  head
    script(type='text/javascript', src='/static/application.js')
    link(rel='stylesheet', href='/static/styles.css')

    block title
      title Coworking Stock Photos
  body
    block content